.rangeSlider {
  height: fit-content;
  padding: 12px 16px;
}

.field {
  position: relative;
  height: 10px;
  background-color: #fefefe;
  border: 1px solid #cecece;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.runner {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #99f;
  transform: translate(-50%, -50%);
}

.rangeSliderInput {
  height: 20px;
  text-align: center;
}